/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

.notification:not(:last-child){
  margin-bottom:0;
}
.profile_image{
  border-radius: 50%;
}
h1.sub-title{
    border-bottom: 1px solid #dbb34d;
    font-size: 26px;
    font-weight: bold;
    line-height: normal;
    margin: 0 20px 12px 0;
    padding: 0 0 8px;
}
.main-image{
background:#ddd url(foods.jpg) no-repeat center center;
background-size:contain;
}
.header-nav{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: #eee;
  box-sizing: border-box;
}
body{
  padding:60px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  color:#401c00;
}
.menu-title{
  font-weight:bold;
}
.favorite{
  margin :0 0 0 auto;
}